<!-- left off at page 26//-->
<html ng-app>
<style>
	.selected {
		background-color:lightgreen;
	}
</style>
<body>
	<table ng-controller="RestaurantTableController">
		<tr ng-repeat="restaurant in directory" ng-click="selectRestaurant($index)" ng-class="{selected: $index == selectedRow}">
			<td>{{restaurant.name}}</td>
			<td>{{restaurant.cuisine}}</td>
		</tr>
	</table>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
	<script type="text/javascript">
		function RestaurantTableController ($scope) {
			$scope.directory = [
				{name: 'the handsome heifer', cusine: 'bbq'},
				{name: 'green\'s green greens', cusine: 'salads'},
				{name: 'house of fine fish', cusine: 'seafood'}
			];

			$scope.selectRestaurant = function (row) {
				$scope.selectedRow = row;
			};

			var dereg = $scope.$watch($scope.selectedRow, function (newValue, oldValue, scope) {
				console.log('changed');
			});
		}
	
	</script>
</body>
</html>